<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/tutee_question.css'%}">
<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style type="text/css">

.table td.demo {
   max-width: 177px;
}
.table td.demo span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   white-space: nowrap;
   max-width: 100%;
   }

  .navbar-custom {
            background-color: #008080;
            <!--background-color: #a7cecd; the brighter one-->
        }

    </style>

<body style= "background-color:LightBlue;">
  <nav class="navbar navbar-expand-lg navbar-light my-navbar">
      <nav class="navbar-brand text-white" >Tutor Page</nav>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="userprofile">Profile</a>
        </li>

      </ul>

    </div>
  </nav>

  <table class="table table-hover">
    <thead>
      <tr class="bg-dark text-white">
        <th scope="col">Tutee</th>
        <th scope="col">Class</th>
        <th scope="col">Topic</th>
        <th scope="col">Question</th>
      </tr>
    </thead>
    <tbody>
      <tr onclick="window.location='question'">
        <th scope="row">{{first}} {{last}}</th>
        <td>{{class}}</td>
        <td>{{topic}}</td>
        <td class ="demo"> <span>{{question}}</span></td>
      </tr>
    </tbody>
  </table>
</body>