<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style type="text/css">


<!--.table td.demo {-->
   <!--max-width: 177px;-->
<!--}-->
.table td.demo span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   white-space: nowrap;
   max-width: 100%;
   }

  .navbar-custom {
            background-color: #008080;
            <!--background-color: #a7cecd; the brighter one-->
        }

  .container{
    height: 300px;
    width: 100%;
  }

  #display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
  }

  .buttons{
    text-align: center;
  }


    </style>


</head>


    <script type="text/javascript" >
        //Define vars to hold time values
let seconds = 0;
let minutes = 0;
let hours = 0;

//Define vars to hold "display" value
let displaySeconds = 0;
let displayMinutes = 0;
let displayHours = 0;

//Define var to hold setInterval() function
let interval = null;

//Define var to hold stopwatch status
let status = "stopped";

//Stopwatch function (logic to determine when to increment next value, etc.)
function stopWatch(){

    seconds++;

    //Logic to determine when to increment next value
    if(seconds / 60 === 1){
        seconds = 0;
        minutes++;

        if(minutes / 60 === 1){
            minutes = 0;
            hours++;
        }

    }

    //If seconds/minutes/hours are only one digit, add a leading 0 to the value
    if(seconds < 10){
        displaySeconds = "0" + seconds.toString();
    }
    else{
        displaySeconds = seconds;
    }

    if(minutes < 10){
        displayMinutes = "0" + minutes.toString();
    }
    else{
        displayMinutes = minutes;
    }

    if(hours < 10){
        displayHours = "0" + hours.toString();
    }
    else{
        displayHours = hours;
    }

    //Display updated time values to user
    document.getElementById("display").innerHTML = displayHours + ":" + displayMinutes + ":" + displaySeconds;

}



function startStop(){

    if(status === "stopped"){

        //Start the stopwatch (by calling the setInterval() function)
        interval = window.setInterval(stopWatch, 1000);
        document.getElementById("startStop").innerHTML = "Stop";
        status = "started";
        <!--amount = minutes/5-->
        <!--document.getElementByID("amount").innerHTML = "testing"-->

    }
    else{

        window.clearInterval(interval);
        document.getElementById("startStop").innerHTML = "Start";
        status = "stopped";
        document.getElementByID("amount").innerHTML = "testing"

    }

}

//Function to reset the stopwatch
function reset(){

    window.clearInterval(interval);
    seconds = 0;
    minutes = 0;
    hours = 0;
    document.getElementById("display").innerHTML = "00:00:00";
    document.getElementById("startStop").innerHTML = "Start";

}

function calculate(){
    temp_minutes = (hours * 60) + (minutes) + (seconds/60);
    amount = temp_minutes/5;


    document.getElementById("amount").value = amount.toFixed(2);



}

 </script>



<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <nav class="navbar-brand text-white" >Tutoring</nav>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="userprofile">Profile</a>
      </li>

    </ul>

  </div>
</nav>


<div class="container-fluid">

        <div class="col-sm-12 align-left">
            <legend>{{tutee.firstname}}'s Payment</legend>
        </div>


         <!--<div class="container">-->

                <div id="display">
                    00:00:00
                </div>

                <div class="buttons">
                    <button id="startStop" onclick="startStop()">Start</button>
                    <button id="reset" onclick="reset()">Reset</button>
                    <button id="calculate" onclick="calculate()">Calculate</button>

                </div>


        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                <form method='POST' class="column justify-content-center">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="Amount" class="col-sm-3 ">Amount</label>
                        <div class="col-sm-9">
                            <input type="float" readonly class="form-control" id="amount" name="Amount" value=0.00>
                        </div>
                    </div>

                    <table>
                        <tr>
                            <td>Hour</td>
                            <td>Minutes</td>
                            <td>Seconds</td>
                        </tr>
                        <tr>
                            <td><input type="number" name="hours" id="hour" value=0></td>
                            <td><input type="number" name="minutes" id="minutes" value=0></td>
                            <td><input type="number" name="seconds" id="seconds" value=0></td>
                        </tr>
                    </table>


                    <div class="form-group">
                        <div class="col-sm-9 text-right">
                            <div class="btn-group mr-2" role="group" aria-label="Button group example">
                                <button type="submit" class="btn btn-secondary btn-sm">Finish</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
  <div class="col-sm-4">

  </div>
</div>


         <!--</div>-->


</div>


</body>
</html>


