<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/tutee_question.css'%}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/footer.css'%}">
<meta charset="utf-8">

<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style type="text/css">


<!--.table td.demo {-->
   <!--max-width: 177px;-->
<!--}-->
.table td.demo span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   white-space: nowrap;
   max-width: 100%;
   }

  .navbar-custom {
            background-color: #008080;
            <!--background-color: #a7cecd; the brighter one-->
        }

  .container{
    height: 300px;
    width: 100%;
  }

  #display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
  }

  .buttons{
    text-align: center;
  }

    </style>


</head>


<script type="text/javascript"> //Stopwatch code source: https://www.youtube.com/watch?v=1INmsFnD-u4

//Define vars to hold time values
let seconds = 0;
let minutes = 0;
let hours = 0;

//Define vars to hold "display" value
let displaySeconds = 0;
let displayMinutes = 0;
let displayHours = 0;

//Define var to hold setInterval() function
let interval = null;

//Define var to hold stopwatch status
let status = "stopped";

//Stopwatch function (logic to determine when to increment next value, etc.)
function stopWatch(){

    seconds++;

    //Logic to determine when to increment next value
    if(seconds / 60 === 1){
        seconds = 0;
        minutes++;

        if(minutes / 60 === 1){
            minutes = 0;
            hours++;
        }

    }
    if(seconds < 10){
        displaySeconds = "0" + seconds.toString();
    }
    else{
        displaySeconds = seconds;
    }

    if(minutes < 10){
        displayMinutes = "0" + minutes.toString();
    }
    else{
        displayMinutes = minutes;
    }

    if(hours < 10){
        displayHours = "0" + hours.toString();
    }
    else{
        displayHours = hours;
    }
    document.getElementById("display").innerHTML = displayHours + ":" + displayMinutes + ":" + displaySeconds;

}
function startStop(){

    if(status === "stopped"){

        //Start the stopwatch (by calling the setInterval() function)
        interval = window.setInterval(stopWatch, 1000);
        document.getElementById("startStop").innerHTML = "Stop";
        status = "started";

    }
    else{

        window.clearInterval(interval);
        document.getElementById("startStop").innerHTML = "Start";
        status = "stopped";
        document.getElementByID("amount").innerHTML = "testing"

    }

}

//Function to reset the stopwatch
function reset(){

    window.clearInterval(interval);
    seconds = 0;
    minutes = 0;
    hours = 0;
    document.getElementById("display").innerHTML = "00:00:00";
    document.getElementById("startStop").innerHTML = "Start";

}

// Added function to calculate total cost for $1 for every 5 minutes
function calculate(){
    temp_minutes = (hours * 60) + (minutes) + (seconds/60);
    amount = temp_minutes/5;


    document.getElementById("amount").value = amount.toFixed(2);
}

 </script>



<body style="background-color:LightBlue;">
<div id="wrapper">
        <nav class="navbar navbar-expand-lg my-navbar">
        <button class= "btn btn-light go-home" onclick="window.location.href = '/home';"><b style = "color:Teal">Home Page</b></button>
          <div class="nav-item ">
            <button class = "btn profile-btn" onclick="window.location.href = '/userprofile';"><b>Your Profile</b></button>
            </div>

    </nav>


<div class="container-fluid py-3">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
           <h1 class = "title text-center"><b style = "color:Teal"> {{tutee.firstname}}'s Session Payment</b></h1>
            <div id="pay-invoice" class="card">
                <div class="card-body" style="border: 2px solid LightBlue;">

                    <div class="card-title">

                         <div id="display">
                            00:00:00
                        </div>

                        <div class="buttons" style="padding-bottom: 10px;">
                            <button style = "color:Teal;font-size:17px; border: 2px solid LightBlue;" class="btn btn-sm btn-light" id="startStop" onclick="startStop()">Start</button>
                            <button style = "color:Teal;font-size:17px; border: 2px solid LightBlue;" class="btn btn-sm btn-light" id="reset" onclick="reset()">Reset</button>
                            <button style = "color:Teal;font-size:17px; border: 2px solid LightBlue;" class="btn btn-sm btn-light" id="calculate" onclick="calculate()">Calculate</button>

                        </div>
                    </div>
                    <!--<hr>-->
                    <form method='POST' class="column justify-content-center">
                    {% csrf_token %}


                        <div class="form-group" style="padding-left: 20px; padding-right:20px;">
                            <label for="Amount" class="control-label mb-1">Total Amount</label>
                            <input type="number" readonly class="form-control" id="amount" name="Amount" value=0.00>
                        </div>

                        <!--MANUAL TIME INPUT-->

                        <!--<div class="row">-->
                            <!--<div class="col-4">-->
                                    <!--<label class="control-label mb-1">Hours</label>-->
                                    <!--<input  type="number" name="hours" id="hours" class="form-control cc-exp" value=0>-->
                            <!--</div>-->
                            <!--<div class="col-4">-->
                                <!--<label class="control-label mb-1">Minutes</label>-->
                                <!--<input type="number" name="minutes" id="minutes" class="form-control cc-cvc" value="0">-->
                            <!--</div>-->
                            <!--<div class="col-4">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label mb-1">Seconds</label>-->
                                    <!--<input type="number" name="seconds" id="seconds" class="form-control cc-cvc" value="0">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--END TIME INPUT-->

                        <div style="text-align: center;padding-top: 20px;">
                            <button style = "color:Teal;font-size:17px; border: 2px solid LightBlue; width: 150px;" type="submit" class="btn btn-lg btn-light">Finish</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Info</h4>
    </div>
    <div class="modal-body">
      <p>Once you get to {{tutee.firstname}}, press the Start/Stop button to begin/end the session. Once the session is over, press Calculate to determine your fee and Finish to transfer the funds!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>
</div>
<footer>Copyright &copy; 2020 All Rights Reserved by quickTutor</footer>
</body>
</html>






