<!DOCTYPE html>
<html>
{% load static %}
<head>
    <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/userprofile_style.css'%}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/footer.css'%}">

</head>

<body style = "background: LightBlue;">
<div id="wrapper">
    <nav class="navbar navbar-expand-lg my-navbar">
        <button class= "btn btn-light" style = "border: 2px solid black; width: relative;" onclick="window.location.href = '/home';">Home Page</button>
          <div class="nav-item ">
            <button class = "btn profile-btn" onclick="window.location.href = '/userprofile';">Your Profile</button>
            </div>

    </nav>
    <div class = "container">
        <div class = "row">
            <div class= "col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class= "card top_layer my_5">
                    <div class = "body">
                    <h5 class="title text-center"><b>Add funds!</b></h5>  
                        <div class = "row">
                            <div class = "col-7"><b>Credit card number</b>
                                    <input class="form-control" placeholder = "1234-5678-1234-5678" style = "border: 1px solid black;">
                            </div>
                            <div class = "col-1">
                            </div>
                            <div class = "col-4">
                                <b>Exp. date</b>
                                <input class="form-control" placeholder = "04/2021" style = "border: 1px solid black;">
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-3">
                                <b>CVV</b>
                                <input class="form-control" placeholder = "123" style = "border: 1px solid black;">

                            </div>
                        </div>
                        <div class = "row"style =>
                            <div class = "col-2">
                            </div>
                            <div class = "col-8" style = "margin-top:40px;">
                                <form method='POST' class="form-signin">
                                <b>Enter amount you want to add</b>
                                {% csrf_token %}
                                    <input type="number"  class="form-control" id="updateBalance" name="updateBalance" style = "border: 2px solid black;"value=0>
                                    <div class="form-group">
                                        <div class="col-sm-12 text-right">
                                            <button type = "submit" class = "btn btn-circle btn-light" style = "border: 2px solid black; margin-top:40px;">Add balance</button> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class = "col-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer >Copyright &copy; 2020 All Rights Reserved by quickTutor</footer>

</body>
</html>