<!DOCTYPE html>
<html>
{% load static %}

<head>
    <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/home_style.css'%}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/footer.css'%}">
    <script>
        function getLocation(type) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        // Get current cordinates.
                        positionCords = [position.coords.latitude, position.coords.longitude];
                        data = {
                            "Type": String(type),
                            "Latitude": positionCords[0],
                            "Longitude": positionCords[1],
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        }
                        $.ajax({
                            type: "POST",
                            url: "home",
                            data: data
                        });
                        if (type == 'tutee') {
                            wait(5000)
                            alert('Please make sure you have a balance of at least $5')
                            window.location.href = '/tuteeing'
                        }
                        else {
                            wait(5000)
                            window.location.href = '/tutoring'
                        }
                    },
                    function (error) {
                        // On error code..
                        alert("Not able to get location")
                    },
                    { timeout: 30000, enableHighAccuracy: true, maximumAge: 75000 }
                );
            }
            else {
                alert("No location provided, please reset permissions on browser to redo")
                if (type == 'tutee') {
                    window.location.href = '/tuteeing'
                }
                else {
                    window.location.href = '/tutoring'
                }
            }
        }
    </script>
    <!-- <script>
        function logOut() {
            data = {
                logout: true,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.ajax({
                type: "POST",
                url: "home",
                data: data
            });
        }
        function profile() {
            data = {
                profile: true,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.ajax({
                type: "POST",
                url: "home",
                data: data
            });
        }
    </script> -->
</head>
<body style = "background: LightBlue">
<div id="wrapper">
         <div class = "container-fluid">
        <div class = "row">
            <div class= "col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class= "card top_layer my_5">
                    <div class = "body">
                    <h1 class = "title text-center"><b style = "font-size: 60px; color: LightBlue;">
                        Tutee or Tutor</b>
                    </h1>

                    <form method='POST'>
                        {% csrf_token %}
                        <div class = "row p-4">
                            <div class = "col-6">
                                <button value = "tutee" name="tutee" onclick="getLocation(this.value)" type = "submit" class = "btn btn-light btn-circle btn-xl" style = "color:Teal;font-size:20px; border: 2px solid LightBlue"><b>Ask a question</b></button>
                            </div>
                            <div class = "col-5">
                                <button value = "tutor" name="tutor" onclick="getLocation(this.value)"type = "submit" class = "btn btn-circle btn-xl" style = "color:Teal;font-size:20px; border: 2px solid LightBlue"><b>Answer a question</b></button>
                            </div>

                        </div>
                        <div  style = "float: right;">
                            <div style="padding-bottom: 4px;">
                                <button class = "btn btn-light btn-circle" style = "width: 150px; height: 40px;  border: 2px solid LightBlue"><a href="userprofile" style= "color: Teal;">User Profile</a></button>
                            </div>
                            <div>
                                <button class = "btn btn-light btn-circle" style = "width: 150px; height: 40px;  border: 2px solid LightBlue" ><a href="/" style= "color:Teal">Log Out</a></button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     </div>
</div>
<footer>Copyright &copy; 2020 All Rights Reserved by quickTutor</footer>
</body>
<!-- HTML5 Geolocation, https://www.w3schools.com/html/html5_geolocation.asp-->
<!-- jQuery, https://www.w3schools.com/jquery/jquery_get_started.asp-->
</html>