<!DOCTYPE html>
<html>
{% load socialaccount %}
{% load static %}
{% providers_media_js %}

<head>
    <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/login_style.css'%}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/footer.css'%}">

    <!-- google api -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<!-- scripts using google api creating Google User -->

<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var positionCords;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    // Get current cordinates.
                    positionCords = [position.coords.latitude, position.coords.longitude];
                    data = {
                        "ID": profile.getId(),
                        "Name": profile.getName(),
                        "Image": profile.getImageUrl(),
                        "Email": profile.getEmail(),
                        "Latitude": positionCords[0],
                        "Longitude": positionCords[1],
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                    $.ajax({
                        type: "POST",
                        url: "loggedIn",
                        data: data
                    });
                },
                function (error) {
                    // On error code..
                    alert("Not able to get location")
                },
                { timeout: 30000, enableHighAccuracy: true, maximumAge: 75000 }
            );
        }
        else {
            alert("Please try again.")
        }
    }

</script>



<body style = "background-color: LightBlue;">
<div id="wrapper">
      <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card top_layer my-5">
            <div class = "quickTutor_logo_container">
                <div class = "crop">
                    <img src = "https://media.giphy.com/media/RkAwUt4dQF1tu/giphy.gif" style = "border-radius:250px;">
                </div>
            </div>
            <div class="body">
            <h5 class="title text-center" style = "color:LightBlue">Welcome to <b>quickTutor!</b></h5>
            <form class="form-signin" action="{% provider_login_url "google" %}">


              <hr class="my-4">

              <div style= "text-align: center;">

                 <input type="submit" style = "color: LightBlue;" value="Sign In" class = "btn btn-light btn-circle btn-xl"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>Copyright &copy; 2020 All Rights Reserved by quickTutor</footer>
</body>

</html>