
<!DOCTYPE html>
<html>
{% load static %}
<head>
    <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/createprofile_style.css'%}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/footer.css'%}">
</head>

<body style = "background: LightBlue">
<div id="wrapper">
        <nav class="navbar navbar-expand-lg my-navbar">
        <button class= "btn btn-light go-home" onclick="window.location.href = '/home';"><b style = "color: Teal">Home Page</b></button>
          <div class="nav-item ">
            <button class = "btn profile-btn" onclick="window.location.href = '/userprofile';">Your Profile</button>
            </div>

    </nav>
    <div class = "container">
        <div class = "row">
            <div class= "col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class= "card top_layer my_5">
                    <div class = "body">
                    <h5 class="title text-center"><b style = "color: LightBlue">Update your bio!</b></h5>
                    <form method='POST'>
                        {% csrf_token %}
                        <div class = "row">
                            <textarea name = "Bio" placeholder = "My new bio" cols = "80" rows = "6"></textarea>
                        </div>
                        <div class = "row" style = "margin-top: 30px;">
                            <div class = "col-8">
                                <div style= "float:left;">
                                    <button type= "submit" name = "back" value = "back" class = "btn btn-circle btn-light" style = "border: 2px solid LightBlue; margin-top: 15px;"><b style = "color: LightBlue"><< Your Profile</b></a></button>
                                </div>
                            </div>
                            <div class = "col-4">
                                <div style= "float:right;">
                                    <button type= "submit" name = "update" value = "update" class = "btn btn-circle btn-light" style = "border: 2px solid LightBlue; margin-top: 15px;"><b style = "color: LightBlue"> Update</b></a></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>Copyright &copy; 2020 All Rights Reserved by quickTutor</footer>
</body>
</html>