
<!DOCTYPE html>
<html>
{% load static %}
<head>
    <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/login_style.css'%}">
    <!-- javascripts from Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body style = "background-color: LavenderBlush;">
    <div class = "container">
        <div class = "row">
            <div class= "col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class= "card top_layer my_5">
                    <div class = "body">
                    <h5 class="title text-center"><b>Final Step!</b></h5>  
                    <form method='POST'>
                        {% csrf_token %}

                        <div class = "row">
                            <div class = "col-6">Graduation Year:
                                <div class="form-group" style = "width: 164px">
                                <input type="newSchoolYear" class="form-control" placeholder = "Ex: 2021" name="SchoolYear">
                                </div>
                            </div>
                            <div class = "col-6">GPA:
                                <div class="form-group" style = "width: 159px">
                                <input type="newGPA" class="form-control" placeholder = "Ex: 3.45" name="GPA">
                                </div>
                            </div>
                        </div>



                        <div class = "row">
                            <textarea name = "Bio" placeholder = "A short bio about yourself" style = "border: 10px;" cols = "90" rows = "9"></textarea>
                        </div>
                        <div style= "float:right;">
                            <button onclick="window.location.href = '/home';" type= "submit" class = "btn btn-circle btn-light">Submit</a></button>
                        </div>
                    </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>