<!DOCTYPE html>
<html>
{% load static %}
<head>
    <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/createprofile_style.css'%}">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/footer.css'%}">

</head>

<body style = "background: LightBlue;">
<div id="wrapper">
        <div class = "container">
            <div class= "col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class= "card top_layer" style = "background-color: Teal;">
                    <div class = "body">
                    <h5 class="title text-center" style = "color: LightBLue;"><b>Enter classes you have taken!</b><p style = "font-size: 14px; margin-top:14px;">Classes you enter will be available for others to see.</p></h5>
                    <form method='POST'>
                        {% csrf_token %}
                        <div class = "row" style = "margin-top:50px;">
                            <div class = "col-9">
                                <div class="form-group">
                                    <input type="newClasses" class="form-control" placeholder = "CS3240" name="Classes">
                                </div>

                            </div>
                            <div class = "col-3">
                                <button type = "submit" name = "enter" value = "enter" class = "btn enter-btn" style = "border: 1px solid black; height: 38px;"><p style = "color: black;">Enter</p></button>
                            </div>
                        </div>
                        <div class = "row">
                            <button type = "submit" name = "other" value = "other" class = "btn" style = " height: 38px;"><p style = "font-size: 14px; margin-bottom: 30px;color: black;">See classes you have entered >></p></button>
                        </div>
                        <div class = "row">
                        <div class = "col-4">
                        </div>
                        <div class = "col-4">
                            <div style = "float:right; margin-top: 45px;">
                                <button type = "submit" name = "next" value = "next" class = "btn btn-circle btn-light" style = "border: 2px solid LightBlue; color:LightBlue;"><b>Next</b></button>
                            </div>
                        </div>
                        <div class = "col-4">
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<footer>Copyright &copy; 2020 All Rights Reserved by quickTutor</footer>
</body>
</html>