STATIC_URL = '/static/'
body{
	height: 100%;
}
 
.top_layer{
	height: 500px;
	width: 600px;
	shape-margin: auto;
	margin-top: 50px;
	margin-bottom: auto;
	background: #008080;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
} 
.top_layer .title{
	margin-bottom: 2rem;
	font-weight: 350;
	font-size: 40px;
}

.top_layer .body{
	padding: 4rem;
}

.btn-circle.btn-xl { 
    width: 175px; 
    height: 175px; 
    padding: 25px 28px; 
    border-radius: 225px; 
    font-size: 17px; 
    font-weight: 500;
    text-align: center; 
    background-color: White;
} 
.btn-circle.btn-xl:hover{
	background-color: black;
}

.my-card{
	border: 3px solid LightBlue;
	margin-top: 30px;
	margin-right:-30px;
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}