STATIC_URL = '/static/'
body{
	height: 100%;
	background-color: Teal !important;
}

.quickTutor_logo_container {
	position: absolute;
	height: 185px;
	width: 185px;
	top: -45px;
	margin-left: -75px;
	margin-right: 195px;
	border-radius: 300px;
	background-color: black;
	padding: 5px;
	text-align: center;
		box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
}

img{
	max-width: 100%;
	max-height: 100%;
}

.mark{
	color: Lime;
}

.top_layer{
	height: 500px;
	width: 400px;
	shape-margin: auto;
	margin-top: 50px;
	margin-bottom: auto;
	background: #008080;
	position: relative;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, .4, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, .4, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, .4, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
} 
.top_layer .title{
	margin-bottom: 2rem;
	font-weight: 350;
	font-size: 40px;
}

.top_layer .body{
	padding: 2rem;
}
.btn-circle.btn-xl { 
    width: 100px; 
    height: 100px; 
    padding: 10px 16px; 
    border-radius: 150px; 
    font-size: 15px; 
    font-weight: 300;
    text-align: center; 
    background-color: Teal;
    border: 2px solid black;
} 
.btn-circle.btn-xl:hover{
	background-color: Black;
}
