<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/tutee_question.css'%}">
<link rel = "stylesheet" type = "text/css" href = "{% static 'main/footer.css'%}">
<head>
    <meta charset="UTF-8">
    <title>Tutee Main Page</title>
</head>
<body style="background-color:LightBlue;">
<div id="wrapper">
        <nav class="navbar navbar-expand-lg my-navbar">
        <button class= "btn btn-light go-home" onclick="window.location.href = '/home';" style = "color:Teal;"><b>Home Page</b></button>
          <div class="nav-item ">
            <button class = "btn profile-btn" onclick="window.location.href = '/userprofile';"><b style = "color:black ;">Your Profile</b></button>
            </div>

    </nav>


    {% if not user.asked %}
    <div class="container">
        <div class="column col-md-6 offset-md-3 justify-content-center p-4 question-card">
            <h1 style="font-size:35px;"><b style = "color: LIghtBlue;">{{me.firstname}}, Ask Your Question!</b></h1>
            <form method='POST' class="column justify-content-center">
              {% csrf_token %}
                <div class="form-group">
                    <label for="Question"><b style = "color: LIghtBlue;">What is your question?</b></label>
                    <input type="question" class="form-control" name="Question" required>
                </div>
                <div class="form-group w-50">
                    <label for="class" required><b style = "color: LIghtBlue;">Class</b></label>
                    <select class="form-control" name="class" required>
                      {% for instance in classes %}
                        <option>{{instance}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="comments"><b style = "color: LIghtBlue;">Summary:</b></label>
                    <textarea class="form-control" name="comments" rows="3"></textarea>
                  </div>
                  <div style="margin-left:380px;">
                <button type="submit" class="btn submit-btn" ><b style = "color:LightBlue;">Submit</b></button>
              </div>
            </form>
        </div>
    </div>
    {% endif %}

    {% if user.asked %}
    <div class="container">
        <div class="column col-md-6 offset-md-3 justify-content-center p-4 question-card">
            <h1 style="font-size:35px; text-align: center;"><b style = "color: LightBLue;">You Already Asked A Question!</b></h1>
            <form method='POST' class="column justify-content-center" style="text-align:center; padding-top:20px;" >
              {% csrf_token %}
              <button type="button" onclick="window.location.href='tuteeing/results/rating/{{user.ratingPage}}'" class="btn btn-light submit-btn"><b style = "color: Teal; ">Go to Results</b></button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
<footer>Copyright &copy; 2020 All Rights Reserved by quickTutor</footer>
</body>
</html>