<!DOCTYPE html>
<!--<html>-->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style type="text/css">


.table td.demo {
   max-width: 177px;
}
.table td.demo span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   white-space: nowrap;
   max-width: 100%;

  .navbar-custom {
            background-color: teal;
        }
    </style>




<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <nav class="navbar-brand text-white" >Tutoring</nav>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="userprofile">Profile</a>
      </li>

    </ul>

  </div>
</nav>


<!--<form>-->
  <!--<div class="form-row">-->
    <!--<div class="form-group col-md-6">-->
      <!--<label for="inputEmail4">Email</label>-->
      <!--<input type="email" class="form-control" id="inputEmail4" placeholder="Email">-->
    <!--</div>-->

  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputAddress">Address</label>-->
    <!--<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="inputAddress2">Address 2</label>-->
    <!--<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
  <!--</div>-->
  <!--<div class="form-row">-->
    <!--<div class="form-group col-md-6">-->
      <!--<label for="inputCity">City</label>-->
      <!--<input type="text" class="form-control" id="inputCity">-->
    <!--</div>-->
    <!--<div class="form-group col-md-4">-->
      <!--<label for="inputState">State</label>-->
      <!--<select id="inputState" class="form-control">-->
        <!--<option selected>Choose...</option>-->
        <!--<option>...</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="form-group col-md-2">-->
      <!--<label for="inputZip">Zip</label>-->
      <!--<input type="text" class="form-control" id="inputZip">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<div class="form-check">-->
      <!--<input class="form-check-input" type="checkbox" id="gridCheck">-->
      <!--<label class="form-check-label" for="gridCheck">-->
        <!--Check me out-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
<!--</form>-->





<!--<div class="container-fluid">-->
    <!--<h2 class="text">Mykim's Question</h2>-->
    <!--<div class="row" >-->
        <!--<div class="row-md-offset-2">-->
             <!--<img style="max-width:250px;" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png">-->

            <!--<div>Email: mdl8dg@virginia.edu </div>-->

            <!--<div>Question</div>-->
            <!--<textarea class="form-control"  rows="3"></textarea>-->
            <!--<button type="submit" class="btn btn-secondary">Accept</button></div>-->

        <!--</div>-->

<!--</div>-->





<div class="container-fluid">
    <h2 class="text-center">Mykim's Question</h2>
    <div class="row" style="background: #eee; padding: 20px; border-radius: 5px; max-width: 800px; margin: 0 auto;">
        <div class="col-sm-5 text-center">
            <img style="max-width:250px;" src="https://pwco.com.sg/wp-content/uploads/Generic-Profile-Placeholder-v3.png">
            <!--{{context.whatever}}   # as a placeholder-->

        </div>

        <div class="col-sm-7">
            <div>Email: mdl8dg@virginia.edu </div>
            <div>Question</div>
            <textarea class="form-control"  rows="3"></textarea>
            <button type="submit" class="btn btn-secondary">Accept</button></div>
            <!--<div class="col-sm-12">-->
                <!--<button type="submit" class="btn btn-secondary">Accept</button></div>-->
            <!--</div>-->

        </div>

</div>










