<!DOCTYPE html>
{% load static %}
<!--<html>-->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel = "stylesheet" type = "text/css" href = "{% static 'main/tutee_question.css'%}">

<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style type="text/css">


.table td.demo {
   max-width: 177px;
}
.table td.demo span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   white-space: nowrap;
   max-width: 100%;
   }

  .navbar-custom {
            background-color: #008080;
            <!--background-color: #a7cecd; the brighter one-->
        }
    </style>


<body style="background-color:LightBlue;">
    <nav class="navbar navbar-expand-lg my-navbar">
        <button class= "btn btn-light go-home" onclick="window.location.href = '/home';"><b style = "color:Teal">Home Page</b></button>
          <div class="nav-item ">
            <button class = "btn profile-btn" onclick="window.location.href = '/userprofile';"><b>Your Profile</b></button>
            </div>
          </div>
        </div>
    </nav>





<div class="container-fluid">
    <h2 class="text-center" style = "margin-top:40px;"><b style = "color: Teal;">{{tutee.firstname}}'s Question</b></h2>
    <div class="row" style="background-color: Teal;box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.19);
        padding: 20px; border-radius: 5px; max-width: 800px; margin: 0 auto;">
        <div class="col-sm-5 text-center">
            <img style="max-width:250px; border: 3px solid white; border-radius: 30px;" class = "profile-pic" src = {{user.image}} >


        </div>

        <div class="col-sm-7" style = "margin-top:40px;">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b style = "color: LightBlue;">Email</b></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value={{tutee.email}}>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b style = "color: LightBlue;">Question</b></label>
                <div class="col-sm-10">
                    <textarea type="text" readonly class="form-control"  rows="3">{{question.Question_text}}</textarea>
                </div>

            </div>
                    <form method='POST'>
                        {% csrf_token %}
                    <button type="submit" name = "back" value = "back"class="btn my-btn" style = "float: left;"><b><< Go back</b></button>
                    <button type="submit" name = "accept" value = "accept" class="btn my-btn" style = "border: 3px solid LightBlue; float: right;"><b style = "color: LightBlue;">Accept</b></button>
                    </form>
</div>

</div>

<body/>








