<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- static/login_style.css -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main/userprofile_style.css'%}">
</head>

<body style = "background: LightBlue">
    <nav class="navbar navbar-expand-lg my-navbar">
        <button class= "btn go-home" onclick="window.location.href = '/home';"><b style = "color:Teal">Home Page</b></button>
          <div class="nav-item ">
            <h1 class = "btn profile-btn"><b>{{tutor.firstname}} {{tutor.lastname}}'s Profile</b></h1>
            </div>
          </div>
        </div>
    </nav>

    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card top_layer my-5">
            <div class = "image_container">
                <img class = "profile-pic" src = {{tutor.image}} > 
            </div>
            <div class="body">
                <div class = "row" style = "margin-top: 50px;">
                    <div class = "col-6">
                        <h5 class="title text-right" style = "margin-right:10px;"><p class = "line"style = "font-size:20px;"><b>School email:</b></p></h5>
                        <h5 class="title text-right" style = "margin-right:10px;"><p class = "line"style = "font-size:20px;"><b>Rating:</b></p></h5>
                        <h5 class="title text-right" style = "margin-right:10px;"><p class = "line"style = "font-size:20px;"><b>Total tutored:</b></p></h5>
                        <h5 class="title text-right" style = "margin-right:10px;"><p style = " font-size:20px;"><b>Bio:</b></p></h5>
                        <h5 class="title text-right" style = "margin-right:10px;"><p class = "line"style = "font-size:20px;"><b>Classes taken:</b></p></h5>
                    </div>
                    <div class = "col-5" style= "margin-left: -30px;">
                        <h5 class="title"><p class = "line"style = " font-size:20px;"><b style = "color:LightBlue">{{tutor.computingID}}@virginia.edu</b></p></h5>
                        <h5 class="title"><p class = "line"style = " font-size:20px;"><b style = "color:LightBlue">{{tutor.tutorRate}}</b></p></h5>
                        <h5 class="title"><p class = "line"style = " font-size:20px;"><b style = "color:LightBlue">{{tutor.timesTutored}}</b></p></h5>
                        <h5 class="title"><p style = " font-size:20px;"><b style = "color:LightBlue">{{tutor.bio}}</b></p></h5>
                        <h5 class="title"><p class = "line"><b style = "color:LightBlue">{% for instance in tutor.classes %}
                            <div class = "col">
                            <li style = "color: LightBlue; font-size:20px;"> {{ instance }} </li>
                            </div>
                            {% endfor %}</b></p></h5>
                    </div>
                    <div class = "col-2">
                    </div>
                </div>
                <div class = "row">
                  <button onclick="window.location.href='/tuteeing/results'" type="button" class = "btn my-btn" style = "border: 2px solid LightBlue;"><b style = "color:LightBlue"><< Back to results</b></button>
                </div>
             </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>