<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand text-white" href="#">QuickTutor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Tutee <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
</nav>

<div class="container">
    <div class="column col-md-6 offset-md-3 justify-content-center p-4">
        <h1>Tutee Ask Your Question!</h1>
        <form class="column justify-content-center"> 
            <div class="form-group">
                <label for="Question">What is your question?</label>
                <input type="question" class="form-control" id="Question">
            </div>
            <div class="form-group w-50">
                <label for="class">Class</label>
                <select class="form-control" id="class">
                    <option>CS3240</option>
                    <option>Not CS3240</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload Image of Question:</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <label for="comments">Additional Comments:</label>
                <textarea class="form-control" id="comments" rows="3"></textarea>
              </div>
            <!-- <button href="results" type="submit" class="btn btn-success btn-lg btn-block" >Submit</button> -->
            <a href="results" type="submit" class="btn btn-success btn-lg btn-block" role="button">Submit</a>
        </form>
    </div>
</div>